/*.sdf
/*.suo
/*.opensdf
/Build
/Library/LibJpeg/vcproject/Debug
/Library/LibJpeg/vcproject/Release
/Library/LibJpeg/vcproject/x64
/Library/LibJpeg/maproject/obj
/Library/LibLzma/vcproject/x64
/Library/LibLzma/vcproject/Debug
/Library/LibLzma/vcproject/Release
/Library/LibLzma/maproject/obj
/1-Common/MoCommon/obj
/1-Common/MoCompress/x64
/1-Common/MoCompress/Debug
/1-Common/MoCore/obj
/1-Common/MoCore/bin
/1-Common/MoDirect2d/obj
/1-Common/MoDirect2d/bin
/1-Common/MoDirect3d/Utility
/1-Common/MoDirect3d/obj
/2-Core/MoContent2d/bin
/2-Core/MoContent2d/obj
/2-Core/MoContent3d/obj
/2-Core/MoContent3d/bin
/2-Core/MoDesign2d/obj
/2-Core/MoDesign2d/bin
/2-Core/MoDesign3d/obj
/4-Design/MpDemoResource3d/obj
/4-Design/MpContentDesigner/bin
/4-Design/MpContentDesigner/obj
/5-Utility/MpServiceTest/bin
/5-Utility/MpServiceTest/obj
/MoSolution.sln.ide
